---
layout: default
title: home
---

<article>
  <div class="masthead" style="background-image:url({{ site.url }}/assets/img/journals.jpg)">
    <h1><span>hello!</span></h1>
    <h2><span>welcome~ please hmu with thoughts or questions regarding anything you read, i wanna talk with you :)</span></h2>
  </div>
</article>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- View all posts button -->
<div class="pagination">
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}/all-posts">{{ site.data.settings.pagination.all_posts }}</a>
</div>
